<h1>Log in to Meal Prep</h1>

<form action="/login" method="POST">

<label>Username:</label>
<input type="text" name="username" id="username">
<label>Password:</label>
<input type="text" name="password" id="password">
<input type='submit' name='submit' id='submit' value='Log In'>
</form>