
    <!--<div class="content">
     # <p><a href="/signup"><button type="button">Sign Up</button></p>
      <p><a href="/login"><button type="button">Log In</button></p>
    </div>-->

    
<div class="greeting">
  <h1>Welcome to Dine Well!</h1>
	<p>Your Health and Wellness Meal Prep App</p>
  </div>